img{
	width:100%;
}

div{
	float:left;
	width:30vw;
	margin-left:1vw;
	margin-right:1vw;
}

p{
	text-align:center;
}

p.watch{
	background-color:cyan;
	/*width:90%;*/
}

p.ongoing{
	padding-top:10vh;
	text-align:left;
}

a.login{
	float:right;
	background-color:cyan;
}